<ion-view title="Bilans" id="page4">
  <ion-content padding="true" class="has-header">

    <label class="item item-input">
      <span class="input-label">Przychód: {{income}}</span>
    </label>

    <label class="item item-input">
      <span class="input-label">Koszty: {{outcome}}</span>
    </label>

    <label class="item item-input">
      <span class="input-label">Dochód: {{income-outcome| number : 2}}</span>
    </label>

    <div class="spacer" style="width: 286.364px; height: 15.9801px;"></div>

    <label class="item item-input">
      Bilans okresowy przychodu
    </label>

    <label class="item item-input">
      <span class="input-label">Od</span>
      <md-datepicker id="from" name="from" ng-model="filter.from"></md-datepicker>
    </label>

    <label class="item item-input">
      <span class="input-label">Do</span>
      <md-datepicker id="to" name="to" ng-model="filter.to"></md-datepicker>
    </label>

    <label class="item item-input">
      <button ng-click="getIncomeInDateRange()" class="button button-positive">Pobierz wynik</button>
    </label>

    <label class="item item-input">
      <span class="input-label">Wynik {{filter.result}}</span>
    </label>

  </ion-content>
</ion-view>
