<ion-view title="Koszt" id="page4">
  <ion-content padding="true" class="has-header">
    <form class="list">
      <label class="item item-input">
        <span class="input-label">Opis</span>
        <input type="text" id="description" name="description" ng-model="cost.description">
      </label>
      <div class="spacer" style="width: 286.364px; height: 16px;"></div>
      <label class="item item-input">
        <span class="input-label">Cena</span>
        <input type="text" id="price" name="price" ng-model="cost.price">
      </label>
      <label class="item item-input">
        <span class="input-label">Kiedy</span>
        <md-datepicker ng-model="cost.date"></md-datepicker>
      </label>
      <div class="spacer" style="height: 20px;"></div>
      <button ng-show="!cost.id" class="button button-positive button-block" ng-click="save(cost)" ng-disabled="isSubmitDisabled()">Zapisz</button>
      <button ng-show="cost.id" class="button button-positive button-block" ng-click="update(cost)" ng-disabled="isSubmitDisabled()">Zapisz</button>
      <button ng-show="cost.id" class="button button-negative button-block" ng-click="removeCost(cost.id)">Usuń</button>
    </form>
  </ion-content>
</ion-view>