<ion-view>
  	<ion-header-bar class="bar bar-header bar-dark">
    	<h1 class="title">Logowanie</h1>
   		<div class="buttons">
   			<button class="button icon ion-close-round" ng-click="closeLogin()">Close</button>
   		</div>
  	</ion-header-bar>



  	<ion-content>
  	<div class="tlo">
  		<div class="biale">
  		</div>
  
    	<form ng-submit="doLogin()">
      		<div class="list">
        	<label class="item item-input">
          		<span class="input-label">Użytkownik</span>
          		<input type="text" ng-model="loginData.username">
        	</label>

       		<label class="item item-input">
          		<span class="input-label">Hasło</span>
          		<input type="password" ng-model="loginData.password">
        	</label>
        <br><br>
        
        <button class="button" type="submit">Zaloguj</button>
        
	    	</div>
    	</form>
  	</div>
  	</ion-content>
  	
</ion-view>