<ion-view title="Udój" id="page6" class="">
  <ion-content padding="true" class="has-header">

    <div>
      <p>FILTR</p>
      <label class="item item-input">
        <span class="input-label">Kiedy</span>
        <md-datepicker id="when" name="when" ng-model="filter.when" ng-change="filterMilkStats()"></md-datepicker>
      </label>
      <div class="spacer" style="width: 286.364px; height: 15.9801px;"></div>
      <button ng-click="clearFilter()" class="button button-positive">Wyczyść filtr</button>
    </div>

    <p>KOSZTY</p>

    <ion-list id="sprzedane-list4" class=" ">
      <ion-item ng-repeat="milkStat in milkStats" ng-click="edit(milkStat.id)">
        {{milkStat.goats}} kóz / {{milkStat.milk}} l / {{ milkStat.when | date:'d.MM.yyyy'}}
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 286.364px; height: 15.9801px;"></div>
    <button ng-click="loadMore()" class="button button-balanced">Load more</button>

  </ion-content>
</ion-view>
