<ion-view title="Dojenie" id="page4">
  <ion-content padding="true" class="has-header">
    <form class="list">
      <label class="item item-input">
        <span class="input-label">Ilość kóz</span>
        <input type="text" id="goats" name="goats" ng-model="milkStat.goats">
      </label>
      <div class="spacer" style="width: 286.364px; height: 16px;"></div>
      <label class="item item-input">
        <span class="input-label">Litry mleka</span>
        <input type="text" id="milk" name="milk" ng-model="milkStat.milk">
      </label>
      <label class="item item-input">
        <span class="input-label">Kiedy</span>
        <md-datepicker ng-model="milkStat.when"></md-datepicker>
      </label>
      <div class="spacer" style="height: 20px;"></div>
      <button ng-show="!milkStat.id" class="button button-positive button-block" ng-click="save(milkStat)" ng-disabled="isSubmitDisabled()">Zapisz</button>
      <button ng-show="milkStat.id" class="button button-positive button-block" ng-click="update(milkStat)" ng-disabled="isSubmitDisabled()">Zapisz</button>
      <button ng-show="milkStat.id" class="button button-negative button-block" ng-click="remove(milkStat.id)">Usuń</button>
    </form>
  </ion-content>
</ion-view>
