<ion-view title="Sprzedaj" id="page3">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <hidden name="id" ng-model="sale.id" />
            <label class="item item-select">
                <span class="input-label">Produkt</span>
                <select ng-model="sale.product"
                        ng-options="product.name for product in products track by product.id">
                </select>
            </label>
            <div class="spacer" style="width: 286.364px; height: 15.9801px;"></div>
            <label class="item item-select">
                <span class="input-label">Klient</span>
                <select ng-model="sale.client"
                        ng-options="client.name for client in clients track by client.id">
                </select>
            </label>
            <div class="spacer" style="width: 286.364px; height: 16px;"></div>
            <label class="item item-input">
                <span class="input-label">Data Sprzedaży</span>
                <md-datepicker ng-model="sale.date"></md-datepicker>
            </label>
            <div class="spacer" style="width: 286.364px; height: 16px;"></div>
            <label class="item item-input">
                <span class="input-label">Cena</span>
                <input type="text" id="price" name="price" ng-model="sale.price">
            </label>
            <div class="spacer" style="width: 286.364px; height: 16px;"></div>
            <label class="item item-input">
                <span class="input-label">Zapłacone</span>
                <ion-checkbox id="paid" name="paid" ng-model="sale.paid">
            </label>
            <div class="spacer" style="height: 20px;"></div>
            <button ng-show="!sale.id" class="button button-positive button-block" ng-click="save(sale)" ng-disabled="isSubmitDisabled()">Zapisz</button>
            <button ng-show="sale.id" class="button button-positive button-block" ng-click="update(sale)" ng-disabled="isSubmitDisabled()">Zapisz</button>
            <button ng-show="sale.id" class="button button-negative button-block" ng-click="removeSale(sale.id)">Usuń</button>
        </form>
    </ion-content>
</ion-view>
