<ion-view title="Sprzedaż" id="page6" class="" ng-controller="SoldCtrl">
    <ion-content padding="true" class="has-header">
        <div>
            <p>FILTR</p>
            <label class="item item-select">
                <span class="input-label">Produkt</span>
                <select id="product" name="product" ng-model="filter.product" ng-options="product.name as product.name for product in products"
                    ng-change="filterSales()">
                </select>
            </label>
            <div class="spacer" style="width: 286.364px; height: 15.9801px;"></div>
            <label class="item item-select">
                <span class="input-label">Klient</span>
                <select id="client" name="client" ng-model="filter.client" ng-options="client.name as client.name for client in clients"
                    ng-change="filterSales()">
                </select>
            </label>
            <div class="spacer" style="width: 286.364px; height: 15.9801px;"></div>
            <label class="item item-input">
                <span class="input-label">Od Daty Sprzedaży</span>
                <md-datepicker id="from" name="from" ng-model="filter.from" ng-change="filterSales()"></md-datepicker>
            </label>
            <div class="spacer" style="width: 286.364px; height: 15.9801px;"></div>
            <button ng-click="clearFilter()" class="button button-positive">Wyczyść filtr</button>
        </div>

        <p>SPRZEDANE SERY ({{sales.length}})</p>

        <ion-list id="sprzedane-list4" class=" ">
            <ion-item ng-repeat="sale in sales" ng-class="{paid:sale.paid, notpaid:!sale.paid}" ng-click="goToEdit(sale.id)">
                {{sale.client}} / {{sale.product}} / {{ sale.date | date:'d.MM.yyyy'}} / {{sale.price}} zł
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 286.364px; height: 15.9801px;"></div>
        <button ng-click="loadMore()" class="button button-balanced">Load more</button>

    </ion-content>
</ion-view>