/* Empty. Add your own CSS if you like */

.tytul {color: white; font-weight: bold; text-transform: uppercase;}

.biale {height: 50px}

.button {width: 60%; background-color: #b8d0e6; color: white; 
		margin-left: auto; margin-right: auto; display: block;}

.button:hover {background-color: #9ac1e3; color: white;}

input {text-align: right}

.tlo {height: 100%; width: 100%; background-color: #f5f5f5;}

.notpaid {background-color: yellow;}

.paid { background-color: gray;}